body {
    background-color: lightgrey;
    }

section {
    width: 50%;
    background-color: white;
    margin: 100px 0px;
    margin: auto;
    text-align: center;
    padding: 25px;
    border-bottom: 2px solid lightgrey ;    
    
}

h1 {
    color: rgb(226, 52, 52);
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    padding: 15px;

}
h2 {
    color: grey;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    padding: 15px;
}

h3 {
    color: grey;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;    
}

p {
    margin: 0px 40px 5px 40px;
    color: grey;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 1.8;
    text-align: justify;
}

nav{
    text-align: center;    
}

nav li{
    display: inline-block;
    padding: 20px 50px;
    color: grey;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

a{
    text-decoration: none;
    color: grey;
}

article{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;    
}
.main{
    flex: 75%; 
}
.side{
    flex: 25%;  
}

img {
    padding: 20px 0px;
    width: 100px;
    height: auto;
}
/*beginfoto*/
.rondeFoto{
    height:auto;
    width:200px;
    border-radius: 200px;
    border: 5px solid lightgrey;
    padding: 0px;
}   

.button{
    background-color:  rgb(226, 52, 52);
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px; 
    font-weight: bold;   
    padding: 15px;
    display: inline-block;
    border-radius: 5px;
}

span{
    background-color: lightgrey;
}